<footer>
    @*<p>&copy; @DateTime.Now.Year - Company Name - MAC Address: @Common.GetMACAddress()</p>*@
    <p>&copy; 2010-@DateTime.Now.Year - Company Name</p>
    <p>IP Address: @Request.UserHostAddress</p>
</footer>
